[Unit]
Description=Rule1 List to Database Service
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/root/dan_scraper
ExecStart=/usr/bin/python3 /root/dan_scraper/rule1_list_to_db.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target