[Unit]
Description=Scrape Active Tickers Manually Service
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/root/dan_scraper
Environment=PYTHONPATH=/root/dan_scraper
ExecStart=/usr/bin/python3 /root/dan_scraper/scrape_all_active_ticker_manually.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target